{% extends "bob/header.html" %}





{% block content %}

<!-- 로그인 상태 -->
{% if web_id %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/login_home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/footer.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">

<body>
  <div class="slideshow-container">
  <div class="fade">
      <img src="{% static '1.png' %}" alt="Slide 1"> 
  </div>
         
  <div class="fade">
      <img src="{% static '2.png' %}" alt="Slide 2"> 
  </div>
         
  <div class="fade">
      <img src="{% static '3.png' %}" alt="Slide 3"> 
  </div>

  <a class="prev" onclick="prevSlide()">&#10094;</a>
  <a class="next" onclick="nextSlide()">&#10095;</a>
</div>

<section>
  <div class="adware-center">
  <h3 class="content-title">
    왕초보도 할 수 있어요🐣
  </h3>
  <span class="content-description">악성코드 분석 입문을 위한 쉽고 친절한 입문 강의!!</span>
    <div class="margin-container row">
      <div class="col-4">
        <div class="for-beginner-card" style="float: left;">
            <img src="{% static 'lecture1-1.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                악성코드의 종류
              </span>
              <span class="card-description">
                악성코드의 종류가 궁금하신가요? 바이러스, 트로이 목마, 랜섬웨어, 루트킷까지 다양한 악성코드의 종류부터 시작하여 흥미로운 악성코드의 세계에 빠져보세요. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                            
              </span>
              <a href="lecture1/?table=악성코드의 종류&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="margin: 0 auto;">
            <img src="{% static 'lecture1-2.png' %}" class="card-image" >
            <div class="card-content">
              <span class="card-title">
                악성코드 지속 방법(1)
              </span>
              <span class="card-description">
                악성코드의 지속 기법을 파헤쳐보는 강의에 오신 것을 환영해요! 악성코드가 시스템에 오래 머무르고 감지를 회피하기 위한 방법을 학습하며, 분석에 대한 흥미를 느껴보세요. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
              </span>
              <a href="lecture1/?table=악성코드 지속 방법(1)&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="float: right;">
            <img src="{% static 'lecture1-3.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                악성코드 case 사례
              </span>
              <span class="card-description">
                악성코드 case 사례에서는 실제 시나리오를 토대로 침해사고의 배경과 진행 과정을 배울 수 있어요! 더불어, MITRE ATT&CK 프레임워크를 활용하여 악성코드의 기술에 대해 공부해보세요.
              </span>
              <a href="lecture1/?table=악성코드 case 사례&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="adware-center">
    <h3 class="content-title">
    C언어로 악성코드를 배워요🐤
  </h3>
  <span class="content-description">악성코드의 비밀을 직접 확인하며 배우는 입문을 위한 특별한 강의!!</span>
    <div class="margin-container row">
      <div class="col-4">
        <div class="for-beginner-card" style="float: left;">
            <img src="{% static 'lecture2-1.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                윈도우 API 프로그래밍
              </span>
              <span class="card-description">
                API 프로그래밍의 핵심을 익히고, 다양한 서비스와의 상호작용을 경험할 수 있는 강좌입니다. 예제와 함께 API 프로그래밍에서 활용되는 기술을 습득하세요.
              </span>
              <a href="lecture2/?table=윈도우 API 프로그래밍&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="margin: 0 auto;">
            <img src="{% static 'lecture2-2.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                이벤트로그 삭제
              </span>
              <span class="card-description">
                악성코드의 이벤트 로그 삭제 기법을 자세히 다루는 '이벤트 로그 삭제' 강좌! 악성코드가 시스템에서 자신의 흔적을 지우는 과정을 살펴보며 보안 역량을 강화하세요.
              </span>
              <a href="lecture2/?table=이벤트로그 삭제&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="float: right;">
            <img src="{% static 'lecture2-3.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                XOR 암호화
              </span>
              <span class="card-description">
                XOR 암호화 강의를 통해 암호화 마스터가 되어보세요! XOR 알고리즘을 Windows API와 함께 활용하여 데이터를 안전하게 암호화하는 방법을 학습할 수 있어요.
              </span>
              <a href="lecture2/?table=XOR 암호화&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="adware-center">
  <a href="./lecture1" style="text-decoration: none;"><h3 class="content-title">
    실제 악성코드를 분석해봐요🐥
  </h3></a>
  <span class="content-description">실전 경험으로 더 깊게 이해하는 악성코드 분석의 세계!!</span>
    <div class="margin-container row">
      <div class="col-4">
        <div class="for-beginner-card" style="float: left;">
            <img src="{% static 'lecture3-1.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                1단계
              </span>
              <span class="card-description">
                가장 간단한 악성코드부터 분석해보세요! 키로깅의 특성과 기술을 파헤쳐보며, 작동 원리를 깊이 파고들어 악성코드 분석 방법을 공부하세요.
              </span>
              <a href="lecture3/?table=1단계&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="margin: 0 auto;">
            <img src="{% static 'lecture3-2.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                3단계
              </span>
              <span class="card-description">
                AgentTesla는 정보를 훔치는 것이 주 목적인 악성코드에요! 상세한 분석을 통해 인포스틸러의 기능과 사용하는 기법에 대해 알아보세요.
              </span>
              <a href="lecture3/?table=3단계&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="for-beginner-card" style="float: right;">
            <img src="{% static 'lecture3-3.png' %}" class="card-image">
            <div class="card-content">
              <span class="card-title">
                문서형
              </span>
              <span class="card-description">
                문서형 악성코드는 문서 파일을 통해 전파되는 특징을 가지고 있어요! 문서형 악성코드만의 특별한 분석 기법을 통해 실전 능력을 향상시킬 수 있어요.
              </span>
              <a href="lecture3/?table=문서형&page=1" class="a">수강하기</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
</body>
<script type="text/javascript">
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var slides = document.getElementsByClassName("fade");
    
    for (var i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }

    slideIndex++;
    
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }    

    slides[slideIndex-1].style.display = "block";  

    setTimeout(showSlides, 4000); // Change image every 2 seconds
  }

  // Show the previous slide
  function prevSlide() {
    showSlide(getPrevIndex());
  }

  // Show the next slide
  function nextSlide() {
    showSlide(getNextIndex());
  }

  // Show a specific slide based on index
  function showSlide(index) {
    var slides = document.getElementsByClassName("fade");

    for (var i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slides[index].style.display = "block";
  }

  // Get the index of the previous slide
  function getPrevIndex() {
    return (slideIndex - 2 + document.getElementsByClassName("fade").length) % document.getElementsByClassName("fade").length;
  }

  // Get the index of the next slide
  function getNextIndex() {
    return (slideIndex % document.getElementsByClassName("fade").length);
  }
</script>




<!-- 비로그인 상태 -->
{% else %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/footer.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">

<style>
  .margin-right{
  margin-right: 6%;
  }

  .margin-left{
    margin-left: 6%;
  }
</style>
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" style="background-color: #D7DAE7;">
  <div class="w3-display-left w3-text-white margin-left" style="left: 0%; padding-left: 8px;">
    <h1 style="color: #333; font-size:4em; font-weight:bold">MalFFleR</h1>
    <span class="w3-large" style="color:#333">MalFFleR 는 악성코드의 기초부터 제작, 분석에 이르는 다양한 강의와 실전 경험을 제공합니다.<br>
      강의와 실전 분석 문제를 통해 악성코드의 작동 원리를 이해하고, <br>
      자체적으로 악성코드를 제작하고 분석하는 과정을 경험해 보세요.<br>
      우리 플랫폼을 통해 악성코드의 세계로 여행을 떠나보세요. <br>
      보안 분야에서의 성공적인 경력을 쌓기 위한 첫걸음을 내디딜 준비가 되셨나요?<br>
    </span>
  </div> 

  <form class="form margin-right" style="right:0; margin-right: 6.5;" method="post" action="{%url 'login_logic'%}">
    {%csrf_token%}
    <div class="flex-column">
      <label>아이디 </label></div>
      <div class="inputForm">
              <input id="id_username" name="username" placeholder="아이디를 입력해주세요." class="input" type="text">
      </div>
    
    <div class="flex-column">
      <label>비밀번호 </label></div>
      <div class="inputForm">
        <input id="id_password" name="password" placeholder="비밀번호를 입력해주세요." class="input" type="password" required>
      </div>
    
    <div class="flex-row">
      <div>
      <!-- <input type="radio"> -->
      <!-- <label>Remember me </label> -->
      </div>
    </div>
    <button type="submit" class="button-submit">로그인</button>



<p class="p">회원이 아니신가요?<span class="span" id="signin"> <a href="member_insert1" style="text-decoration: none;">회원가입</a></span></p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div></form>

</header>


{% endif %}


<!-- 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

window.onload = function () {
  setTimeout(function () {
      var messages = document.querySelector('.messages');
      if (messages) {
          messages.innerHTML = ''; // 메시지 초기화
          messages.parentNode.removeChild(messages); // <ul> 삭제
      }
  }, 1500); // 1초 후에 실행
}

document.addEventListener("DOMContentLoaded", function() {
  // span 요소를 가져옵니다.
  var signinSpan = document.getElementById("signin");

  // span 요소에 클릭 이벤트 리스너를 추가합니다.
  signinSpan.addEventListener("click", function() {
    // 회원가입 페이지로 이동합니다.
    window.location.href = "{% url 'member_insert1' %}"; // 'signup'은 실제로 회원가입 페이지의 URL 패턴 이름입니다.
  });
});
document.addEventListener("DOMContentLoaded", function() {
  // span 요소를 가져옵니다.
  var signinSpan = document.getElementById("update_user");

  // span 요소에 클릭 이벤트 리스너를 추가합니다.
  signinSpan.addEventListener("click", function() {
    // 회원가입 페이지로 이동합니다.
    window.location.href = "{% url 'member_info_change' %}"; // 'signup'은 실제로 회원가입 페이지의 URL 패턴 이름입니다.
  });
});
</script>

<footer class="footer">
  <div style="background-color: black;">
    <div class="footer_bottom">
      <div class="footer-logo">
        <img src="{% static 'LOGO_remove.png' %}" style="max-width: 10rem;  opacity: 0.5;">
      </div>
      <div class="company-miscellaneous">
        <div class="company-brand-title">
          <p class="company-title">Best Of the Best 12기</p> 
          <p class="copyright">
        Copyright © 2023 MalLaB Inc. All rights reserved.
          </p>
        </div> 
        <p class="copyright">
          <span>서비스 운영: MalLaB</span> |
          <span>금천구 서부샛길 606, 대성디폴리스 지식산업센터 A동 27층</span> |
          <span>이메일: mallab@gmail.com</span> |
          <span>대표 연락처: 010-0000-0000</span>
        </p>
      </div>
    </div>
  </div>
</footer> -->

{% endblock %}