body{
  height: 100%;
}

#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 300px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif !important;
}

/* 메인 */
.parent{
  position: relative;
  display: flex;
  padding: 6px;
}

.child_main{
  color: #333333; 
  margin-right: 12px;
  text-align: center;
  width: 100px;
}

.child{
  color: #333333; 
  margin-right: 12px;
  text-align: center;
  max-width: 100%;
}

.table {
    margin-top:10px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-bottom: 10px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    color: rgb(75 85 99);
  }
  
  .table .radio-input input[type="radio"] {
    display: none;
  }
  
  .table .radio-input label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 15px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    justify-content: center;
  }
  
  
  
  .table .radio-input input[type="radio"]:checked + label {
    background-color: #FFCC57;
    color: #333;
  }
  
  @keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .introduce {
    width: 87%;
    height: 30%;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    overflow: hidden;
    margin-left: 6.5%; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-right: 6.5%; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-top:2%; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-bottom:2%;
  }
  
  .introduce .card2 {
    width: 1120px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    margin-left: 200px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-right: 200px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-top:25px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
    margin-bottom:20px; /* 원하는 좌측 마진 크기를 여기에 지정하세요. */
   
  }
  
  .introduce .header2 {
    display: table-column;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  
  .introduce .icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: red;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .introduce .icon svg {
    height: 1rem;
    width: 1rem;
  }
  
  .introduce .alert {
    font-weight: 600;
    color: rgba(107, 114, 128, 0.934);
    position: absolute;
  }
  
  .introduce .message {
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
  }
  
  .introduce .actions {
    margin-top: 1.5rem;
  }
  
  .introduce .actions a {
    text-decoration: none;
  }
  
  .introduce .mark-as-read, .read {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
  
  .introduce .read {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
  }
  
  .introduce .mark-as-read {
    margin-top: 0.5rem;
    background-color: rgba(249, 250, 251, 1);
    color: rgba(107, 114, 128, 1);
    transition: all .15s ease;
  }
  
  .introduce .mark-as-read:hover {
    background-color: rgb(230, 231, 233);
  }
  
  
  
  
  .introduce .info {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #6e7b8c;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    margin-bottom: 10px;
  }
  
  
  
  
  .introduce .info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .introduce .info__icon path {
    fill: #fff;
  }
  
  .introduce .info__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .introduce .info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .introduce .info__close path {
    fill: #fff;
  }
  
  
  
  .introduce .form {
    position: absolute;
    top: 55%;
    right: 130px;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
  }
  
  
  
  
  
  /* 문제 검색창 */
  .search .form button {
    border: none;
    background: none;
    color: #8b8ba7;
    cursor: pointer;
  }

  .search .form {
    margin-left: 6.5%;
    margin-top: 100px;
    margin-right: 6.5%;
    --border-height: 2px;
    --input-bg: #fff;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: 30px;
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .search .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  
  .search input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .search .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .search .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  .search input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .search .form svg {
    width: 17px;
    margin-top: 3px;
  }
  
  
  
  
  
  /* 문제 테이블 */
    /* 첫 번째 열의 너비를 150px로 설정 */
  tr{
    width: 100%;
    height: 240px;
    display: flex;
    margin-bottom: 1%;
    flex-wrap: wrap;
    text-align: center;
  }

/* 문제 */
table {
  width: 87%;
  height: 720px;
  border-collapse: collapse;
  border-radius: 10px;
  display:grid; 
}

table td:nth-child(3n+1){
  position: relative;
  width: 240px;
  height: 100%;
  flex: 1;
  padding: 6px;
  float: left;
}

table td:nth-child(3n+2){
  position: relative;
  width: 240px;
  height: 100%;
  flex: 1;
  padding: 6px;
  margin: 0 auto;
}

table td:nth-child(3n){
  position: relative;
  width: 240px;
  height: 100%;
  flex: 1;
  padding: 6px;
  float: right;
}

.cookie-card {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.exe{
  height: 100%;;
}

.exe .title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.exe .description {
  margin-top: 1rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.exe .description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.exe .description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.exe .actions {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  column-gap: 1rem;
}

.td_content{
  overflow: hidden;
  height: 33.333333%;
  margin-bottom: 10px;
  word-break: keep-all;
}

.exe .pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );


  border: none;
  background-color: transparent;
}

.exe .pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.exe .accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #485176;
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.exe .accept:hover {
  color: #ccc;
}

.exe .accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.table33{
  margin : 0 6.5% 4% 6.5%;
}

/* 페이징 */
.paging {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-link{
  text-decoration-line: none;
}

.btn-type {
  border: none;
  outline: none;
  background-color: #FFCC57;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #333;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #d5a73d;
  cursor: pointer;
  text-decoration-line: none;
}

.btn-type:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #d5a73d;
}