*{
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  max-height: 100%;
  margin-bottom: 300px;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.chart-size{
  width: 100%;
  left: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 55%;
  right: 130px;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 25%;
  height: 80%;
}



/* 진도률 */
.card {
  width: 100%;
  height: 70%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: #485176;
  color: white;
  padding: 10%;
  text-align: center;
  font-size: 14px;
  height: 25%;
}

.content-div{
  padding: 10px 25px 10px 25px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  padding: 5%;
}

.skill_div{
  height : 100%
  width : 100%
}

.skill-name {
  width: 40%;
  font-size: 12px;
}

.skill-level {
  width: 60%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  width: 70%;
  background-color: #485176;
  height: 100%;
}

.skill-percent-number {
  width: 30%;
  margin-left: 10px;
  font-size: 16px;
}

.flex-column{
  margin-bottom: 10%;
}

/* 메뉴 */
.col-xl-8{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  position: absolute;
  top: 55%;
  right: 130px;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 60%;
  height: 80%;
}

.menu_size{
  width: 95%;
  height: 95%;
}

.card-body {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}
.pt-3 {
  border-radius: 20px;
  padding: 1rem;
}

/* 탭 전체 스타일 */
.tabs {
  padding-bottom: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 98%;
  height: 70%;
}

/* 탭 스타일 */
.tab_item {
  cursor: pointer;
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #ced1d6;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #ced1d6;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 4% 0 3% 0;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  height : 100%;
}


/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: flex;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  color: #485176;
  border-bottom: 3px solid #485176;
}

/*사용자 역량 평가*/
.introduction{
  width: 50%;
  left: 0;
}

.child{
  flex: 1;
  overflow: hidden;
}

.child_explanation{
  height : 50%;
  top : 25%
}

.explanation{
  list-style-type: none;
  color: #6B7280;
  margin-left: 3%;
  left: 0;
}

.explanation_element{
  font-size: 12px;
  margin-bottom: 2%;
  word-break: keep-all;
  text-align: left;
}

.chartjs .card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  
  .chartjs .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  
  .chartjs .dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
  }
  
  .chartjs .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .chartjs .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .chartjs .image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
  }
  
  .chartjs .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .chartjs .title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .chartjs .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .chartjs .actions {
    margin: 0.75rem 1rem;
  }
  
  .chartjs .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .chartjs .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }